Button {
  padding: 10;
  background-color: #4faf8a;
  color: #ffffff;
  font-size: 14;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5;
  horizontal-align: center;
}

Label {
  margin-bottom: 20;
  color: #3b414a;
  font-size: 18;
  font-weight: bold;
  text-align: center;
}

TextField {
  width: 75%;
  height: 44;
  padding: 0 8;
  background-color: #e9eced;
  color: #3b414a;
  font-size: 14;
  border-radius: 5;
}